@{
	ViewData["Title"] = "À propos";
}
@*<h2>@ViewData["Title"].</h2>
	<h3>@ViewData["Message"]</h3>

	<p>Utilisez cette zone pour fournir des informations supplémentaires</p>
*@
<div class="container-fluid">
 <h1>
  Instructions pour utiliser la connexion via FranceConnect
 </h1>

 <div class="card shadow p-3 mb-5 bg-white rounded text-center">
  <div class="card-body">
   <h5 class="card-title">Cliquez sur Se Connecter</h5>
   <p class="card-text">en haut de cette page, puis cliquez sur le <b>bouton FranceConnect</b></p>
  </div>
 </div>

 <div class="card shadow p-3 mb-5 bg-white rounded text-center">
  <div class="card-body">
   <h5 class="card-title">Selectionnez le fournisseur</h5>
   <p class="card-text"> Parmi les fournisseurs disponibles, l'un des fournisseurs de démonstration.</p>
  </div>
  <img class="card-img-bottom img-thumbnail mx-auto img-fluid" src="/images/FranceConnect-instructions-fournisseur.png" alt="Capture de la page d'instructions fournisseurs">
 </div>

 <div class="card shadow p-3 mb-5 bg-white rounded text-center">
  <div class="card-body">
   <h5 class="card-title">Renseignez les identifiants</h5>
   <p class="card-text"> de test, disponibles sur le <a href="https://github.com/france-connect/identity-provider-example/blob/master/database.csv">répertoire GitHub FranceConnect</a></p>
  </div>
  <img class="card-img-bottom img-thumbnail mx-auto img-fluid" style="width:40%" src="/images/FranceConnect-instructions-identifiants.png" alt="Capture de la page d'identifications">
 </div>

</div>