@{
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron jumbotron-fc">
    <img src="~/images/fc_logo_alt1_v2.png" alt="Logo FranceConnect" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Fournisseur de service</h2>
        <ul>
            <li><a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service" target="_blank">Voir la documentation FranceConnect</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>ASP.NET Core</h2>
        <ul>
            <li>ASP.NET Core est disponible pour Windows, Linux et Mac OS X</li>
            <li><a href="https://docs.asp.net/en/latest/" target="_blank">Voir la documentation ASP.NET Core</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Kit de démarrage</h2>
        <ul>
            <li><a href="https://github.com/FranceConnectSamples/franceconnect-service-provider-dotnet-webapp-aspnetcore" target="_blank">Fournisseur de service</a></li>
            <li><a href="https://github.com/FranceConnectSamples/franceconnect-data-provider-dotnet-webapi-aspnetcore" target="_blank">Fournisseur de données</a></li>
            <li><a href="https://github.com/FranceConnectSamples/franceconnect-identity-provider-dotnet-webapi-aspnetcore" target="_blank">Fournisseur d'identité</a></li>
            <li><a href="https://github.com/FranceConnectSamples/franceconnect-mobile-app-xamarin-native" target="_blank">Application mobile</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Démo</h2>
        <ul>
            <li><a href="http://franceconnect-service-provider-dotnet-webapp-aspnetcore.azurewebsites.net/" target="_blank">Démo du kit de démarrage FranceConnect</a></li>
        </ul>
    </div>
</div>
