@{
    ViewData["Title"] = "Confirmation de l'e-mail";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Merci d'avoir confirmé votre e-mail. Merci de <a asp-controller="Account" asp-action="Login">cliquer ici pour vous connecter</a>.
    </p>
</div>
