@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Créer un compte";
}

<h2>@ViewData["Title"].</h2>
<h3>Associez votre compte @ViewData["LoginProvider"].</h3>
<hr />

<p class="text-info">
    Vous vous êtes correctement authentifié avec <strong>@ViewData["LoginProvider"]</strong>.
    Veuillez entrer les informations suivantes pour ce site et cliquer sur le bouton Créer un compte pour finir la connexion.
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <h4>Formulaire d'association</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate"></label>
                <input asp-for="Birthdate" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredUsername"></label>
                <input asp-for="PreferredUsername" class="form-control" />
                <span asp-validation-for="PreferredUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GivenName"></label>
                <input asp-for="GivenName" class="form-control" />
                <span asp-validation-for="GivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyName"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Créer un compte</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}