@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<h2>@ViewData["Title"].</h2>
<p>
    Pour plus d'informations sur l'activation de réinitialisation de mot de passe, consultez cet <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

@*  
<h4>Entrez votre e-mail.</h4>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</form>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
