@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Réinitialisation du mot de passe";
}

<h2>@ViewData["Title"].</h2>
<h4>Réinitialiser votre mot de passe.</h4>
<hr />
<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
