/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* FranceConnect button */
.btn-fc {
    background: url(/images/franceconnect-bouton.png) no-repeat center;
    background-image: url(/images/franceconnect-bouton.svg);
    background-size: contain;
    height: 48px;
    width: 178px;
    border: none;
}

    .btn-fc:hover {
        background: url(/images/franceconnect-bouton-hover.png) no-repeat center;
        background-image: url(/images/franceconnect-bouton-hover.svg);
        background-size: contain;
    }

/* Kit FranceConnect */
#fconnect-profile > a {
    padding: 0.5rem 0.5rem 0.5rem 2.5rem !important;
    font-size: inherit !important;
    background-size: 32px !important;
}
/* Homepage Background */
#hero-display {
    background-image: url("/images/MSSecurityBackground.gif");
    background-position: center;
    background-size: cover;
}
/* Homepage social links */
.social > a {
    text-decoration: none;
    border: none;
}
