@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<h2>@ViewData["Title"].</h2>
<p>
    Pour plus d'informations sur l'activation de réinitialisation de mot de passe, consultez cet <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

@*<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
    <h4>Entrez votre e-mail.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Valider</button>
        </div>
    </div>
</form>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
