@{
    ViewData["Title"] = "Confirmation de la réinitialisation du mot de passe";
}

<h1>@ViewData["Title"].</h1>
<p>
    Votre mot de passe a été réinitialisé. <a asp-controller="Account" asp-action="Login">Cliquez ici pour vous connecter</a>.
</p>
