@{
    ViewData["Title"] = "Comfirmation de l'e-mail";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Merci d'avoir confirmer votre e-mail. Merci de <a asp-controller="Account" asp-action="Login">cliquez ici pour vous connecter</a>.
    </p>
</div>
