@model CustomResourceViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Scopes</th>
            <th>Valeurs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Valeur 1</td>
            <td>@Model.ValueOne</td>
        </tr>
        <tr>
            <td>Valeur 2</td>
            <td>@Model.ValueTwo</td>
        </tr>
    </tbody>
</table>