@using WebApp_Service_Provider_DotNet.ViewModels.Data
@model BaseResourceViewModel
@{
    ViewData["Title"] = "Données obtenues";
}

<h2>@ViewData["Title"].</h2>
<p class="text-warning">@ViewData["Message"]</p>
@if (Model is DgfipResourceViewModel)
{    
    <partial name="_DgfipResourcePartial" model="Model"/>
}
else if (Model is CustomResourceViewModel)
{
    <partial name="_CustomResourcePartial" model="Model"/>
}