@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        @if (await SignInManager.GetExternalLoginInfoAsync() != null)
        {
            <li>
                <a asp-controller="Manage" asp-action="Index">Mon compte</a>
            </li>
            <li id="fconnect-profile" data-fc-logout-url="@Url.Action("LogOff", "Account")">
                <a href="#">@UserManager.GetUserName(User)</a>
            </li>
        }
        else
        {
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Mon compte">Bonjour @UserManager.GetUserName(User) !</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="LogOff">Se déconnecter</a>
            </li>
        }
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Créer un compte</a></li>
        <li><a asp-controller="Account" asp-action="Login">Se connecter</a></li>
    </ul>
}
