@using WebApp_Service_Provider_DotNet.ViewModels.Data
@model BaseResourceViewModel
@{
    ViewData["Title"] = "Données obtenues";
}

<h2>@ViewData["Title"].</h2>
<p class="text-warning">@ViewData["Message"]</p>
@if (Model is DgfipResourceViewModel)
{
    @Html.Partial("_DgfipResourcePartial", Model);
}
else if (Model is CustomResourceViewModel)
{
    @Html.Partial("_CustomResourcePartial", Model);
}