@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Céer un compte";
}

<h2>@ViewData["Title"].</h2>
<h3>Associez votre compte @ViewData["LoginProvider"].</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Formulaire d'association</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <p class="text-info">
        Vous vous êtes correctement authentifié avec <strong>@ViewData["LoginProvider"]</strong>.
        Veuillez entrer les informations suivantes pour ce site et cliquer sur le bouton Créer un compte pour finir la connexion.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Birthdate" asp-format="{0:dd/MM/yyyy}" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PreferredUsername" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PreferredUsername" class="form-control" />
            <span asp-validation-for="PreferredUsername" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="GivenName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="GivenName" class="form-control" />
            <span asp-validation-for="GivenName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FamilyName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FamilyName" class="form-control" />
            <span asp-validation-for="FamilyName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Créer un compte</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
