body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* jumbotron FranceConnect */
.jumbotron-fc {
    margin-top: 15px;
    text-align: center;
}

/* FranceConnect button */
.btn-fc {
    background: url(../../images/FCboutons-10.png) no-repeat center;
    background-image: url(../../images/FCboutons-10.svg);
    background-size: contain;
    height: 48px;
    width: 178px;
    border: none;
}
.btn-fc:hover {
    background: url(../../images/FCboutons-11.png) no-repeat center;
    background-image: url(../../images/FCboutons-11.svg);
}

/* Kit FranceConnect */
#fconnect-profile > a {
    padding-left: 40px !important;
    font-size: inherit !important;
    background-size: 32px !important;
}
