@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    39 quai du président Roosevelt<br />
    92130 Issy-les-Moulineaux<br />
    <abbr title="Téléphone">Tel:</abbr>
    09 70 01 90 90
</address>